<div ng-controller="UserController as vm" class="user-view">

    <div class="user-is-not-authenticated" ng-show="!currentUser.userName">
        <div class="error">Error message: not authenticated user!</div>
    </div>

    <div class="user-authenticated" ng-show="currentUser.userName">

        <div class="btn-group" role="group">
        <button ng-click="vm.getAll()" type="button" class="btn btn-default">List all</button>
        <button ng-click="vm.getAdmins()" type="button" class="btn btn-default">List admins</button>
    </div>

        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Credits</th>
                <th>Role</th>
                <th style="width: 100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{user.userName}}</td>
                <td>{{user.userCredit}}</td>
                <td>
                    <div ng-show="user.admin">Admin</div>
                    <div ng-show="!user.admin">User</div>
                </td>
                <td ng-show="currentUser.admin || currentUser.userName == user.userName">
                    <button class="btn btn-success" ng-click="">Edit</button>
                </td>
                <td ng-show="!(currentUser.admin || currentUser.userName == user.userName)">
                </td>
                <td ng-show="currentUser.admin">
                    <button class="btn btn-danger" ng-click="vm.deleteUser(user.id)">Delete</button>
                </td>
                <td ng-show="!currentUser.admin">
                </td>
            </tr>
            </tbody>
        </table>

        <div ng-show="currentUser.userName">
            <p class="navbar-text navbar-right" style="margin-right: 10px;">Signed in as {{currentUser.userName}}</p>
            <button class="btn btn-default" ng-click="vm.logout()">Logout</button>
        </div>

    </div>

</div>