<!DOCTYPE html>
<html ng-app="app" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Boot Login</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{bootstrap.css}" />
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{bootstrap.min.css}" />
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Spring Boot - MSC</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="views" ng-view=""></div>

    <footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5;">
        <div class="container">
            <p class="text-muted" th:text="'Page was rendered ' + ${#dates.format(datetime, 'YYYY-MM-dd')}">Page was rendered today.</p>
        </div>
    </footer>

    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/angular-cookies.min.js" th:src="@{/angular-cookies.min.js}"></script>
    <script type="text/javascript" src="/static/angular-route.min.js" th:src="@{/angular-route.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.js" th:src="@{/app/app.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/user.controller.js" th:src="@{/app/controllers/user.controller.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/login.controller.js" th:src="@{/app/controllers/login.controller.js}"></script>
    <script type="text/javascript" src="/static/app/controllers/login.service.js" th:src="@{/app/services/login.service.js}"></script>
</body>

</html>